@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {


    min-height: 100vh;
    background-color: rgba(92, 149, 224, 0.788);
}

.fundo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding-top: 20vh;
    background-image: url('../img/motooo.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo_img {
    margin-bottom: 30px;
}

input {
    max-width: 80vw;
    width: 326px;
    height: 58px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 13px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

button {
    max-width: 80vw;
    width: 326px;
    height: 58px;
    background: #28d628;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.h1 {

    font-size: 35px;
    color: aqua;
}

::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.header {
    height: 60px;
    background: rgb(29, 77, 145);
    background: -moz-linear-gradient(top, rgb(29, 77, 145) 0%, rgb(39, 123, 207) 50%, rgb(31, 108, 191) 51%, rgb(111, 172, 229) 100%);
    background: -webkit-linear-gradient(top, rgb(29, 77, 145) 0%, rgb(39, 123, 207) 50%, rgb(31, 108, 191) 51%, rgb(111, 172, 229) 100%);
    background: linear-gradient(to bottom, rgb(29, 77, 145) 0%, rgb(39, 123, 207) 50%, rgb(31, 108, 191) 51%, rgb(111, 172, 229) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4d91', endColorstr='#6face5', GradientType=0);

}

.logo_inicio {
    max-height: 100%;
    max-width: 30vw;
}

li {
    margin-left: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
    transition: 0.5s;
    cursor: pointer;
}

li:hover {
    transform: scale(1.1);

}

.fundo_inicio {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    background-image: url('../img/motoboy-curitiba-logotipo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

.sistema {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.menu_lateral {
    background-color: rgba(43, 56, 228, 0.7);
    width: 20vw;
    min-height: 100%;
}

.logado {
    color: black;
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.644);
    border-radius: 5px;
    margin-bottom: 30px;
}

.sair {
    color: red;
}

ul {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.link {
    text-decoration: none;

}

.voltar {
    background-color: red;
    margin-top: 15px;
}

.motoboys {
    background-color: rgb(17, 20, 219, 0.50);
    padding-top: 5px;

}

.card {
    font-size: 20px;
    text-align: center;
    color: white;
}



.inicio {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.qtd {
    text-align: center;
    font-size: 25px;
    color: #28d628;
    font-weight: 800;
}

.tabela {
    margin-top: 50px;
    background-color: white;
    margin-left: 50px;
    width: 75vw;
    border-radius: 10px;
    border-style: solid;
    border-color: #28d6c7;
    border-width: 2px;
}

th {
    text-align: start;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;

}

.table {

    width: 100%;
    height: 100%;
}

.par {
    background-color: rgba(245, 241, 241, 0.904);
    font-family: Merriweather;
    font-weight: 800;
}

.impar {
    background-color: rgb(54, 122, 223);
    font-family: Merriweather;
    font-weight: 800;
    color: #FFFFFF;
    
}
.ausente{
    background-color: red;
    font-family: Merriweather;
    font-weight: 800;
    color: #FFFFFF;
    
}

td {
    padding-top: 2px;
}

.forma {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    background-color: rgba(199, 191, 191, 0.801);
    border-radius: 30px;
    margin-right: 10px;
}

.forma_titulo {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: rgba(42, 44, 163, 0.925);
}
.forma_ausente{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: red;
}

.entrada {
    width: 400px;
    height: 20px;
}

.select {
    width: 20vw;
    height: 30px;
    margin-right: 25px;
    border-radius: 5px;

}

.selection {
    margin-left: 10px;
    font-family: 'Raleway';
    font-style: unset;
    font-weight: 700;
    font-size: 17px;
    align-items: center;
    text-align: center;

}

.ajuste {
    margin-top: 10px;
    align-items: center;
    display: flex;
    
}

.selectionDate {
    margin-left: 10px;
    font-family: 'Raleway';
    font-style: unset;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    max-width: 25vw;
}

.select_login {
    height: 30px;
    width: 10vw;
}

.selectcalendar {
    width: 10vw;
    height: 20px;
    margin-right: 25px;
}

.selectcalendar::placeholder {
    font-family: 'Raleway';
    font-style: unset;
    text-align: center;
    font-size: 17px;
}

.arruma {
    display: flex;
    flex-direction: row;
}

.select_pedido {
    height: 40px;
    width: 40vw;
    margin:0;
    margin-right: 20px;
}

.listapedidos {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    width: 90%;
    height: 60%;
    overflow: scroll;
    border-radius: 10px;
    position: relative;
    margin-top:20px;

}

.pedidostab {
    max-height: 30px;

}

.excluir {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 10px;
    align-items: center;
}

.pesquisa{
   height: 40px;
   width: 150px;
}
.ausente_botao{
    width: 100px;
    height: 30px;
    background-color: red;
}
.gif{
    width: 120px;
    height: 90px;
   
}
.Entrar{
    display: flex;
    align-items: center;
    justify-content: center;
}