@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&display=swap');

body {
    background-image: url('../img/slide-motoboy-curitiba.jpg');
    background-size: contain;
    min-height: 100vh;
}

.fundo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.logo_img {
    margin-bottom: 30px;
}

input {
    max-width: 80vw;
    width: 326px;
    height: 58px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 13px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

button {
    max-width: 80vw;
    width: 326px;
    height: 58px;
    background: #28d628;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 35px;
    color: aqua;
}

::placeholder {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.header {
    height: 60px;
    background: rgb(29, 77, 145);
    background: -moz-linear-gradient(top, rgb(29, 77, 145) 0%, rgb(39, 123, 207) 50%, rgb(31, 108, 191) 51%, rgb(111, 172, 229) 100%);
    background: -webkit-linear-gradient(top, rgb(29, 77, 145) 0%, rgb(39, 123, 207) 50%, rgb(31, 108, 191) 51%, rgb(111, 172, 229) 100%);
    background: linear-gradient(to bottom, rgb(29, 77, 145) 0%, rgb(39, 123, 207) 50%, rgb(31, 108, 191) 51%, rgb(111, 172, 229) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4d91', endColorstr='#6face5', GradientType=0);

}

.logo_inicio {
    max-height: 100%;
    max-width: 30vw;
}

.fundo_inicio {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;

}

.sistema {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.menu_lateral{
    background-color: rgba(0, 0, 0, 0.753);
    width: 20vw;
    min-height: 100%;   
}
.logado{
    color: #28d628;
    font-size :30px;
    background-color: rgba(128, 128, 128, 0.644);
    border-radius: 5px;
}